# The source paintings the cards are built from. Kept locally for reference the
# way Anthem keeps its MIDI, but not committed: they are 2–4 MB each against the
# 8–11 KB they become, so the repository would grow by megabytes per dinosaur
# for files nobody ever loads. art/README.md records where each one came from
# and under which licence, which is enough to fetch them again exactly.
/art/*.png
/art/*.jpg
/art/*.jpeg
/art/*.webp
